.container {
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-template-rows: 180px 200px auto 170px;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "n n n n n n n n n n n n"
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f";
}

.nav ul {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.box-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.box-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    grid-area: h;
}

.nav {
    grid-area: n;
}

.main {
    grid-area: m;
}

.footer {
    grid-area: f;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width: 600px) {
    .container { 
        grid-gap: 5px;
        grid-template-rows: 260px 200px auto 170px;
        grid-template-areas:
        "h h h h h h n n n n n n"
        "m m m m m m m m m m m m"
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f";
    }

    body {
        font-size: 18px;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 95%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 70px;
    }

    nav li a {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .header h1 {
        padding-top: 30px;
    }

    .main {
        padding: 0px;
    }

    .figure {
        margin-bottom: 60px;
    }

    .box-2 {
        max-width: 100%;
        justify-content: space-evenly;
    }

    .footer {
        font-size: 15px;
    }
}
 
@media screen and (min-width: 1024px) {
    
    .container { 
        grid-gap: 5px;
        grid-template-rows: 220px 200px auto 170px;
        grid-template-areas:
        "h h h h h n n n n n n n"
        "m m m m m m m m m m m m"
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f";
    }
    
    .nav ul {
        max-width: 90%;
        margin-right: auto;
    }

    nav li a {
        font-size: 19px;
        padding: 15px
    }

    .header {
        margin-left: 70px;
    }

    .header h1 {
        font-size: 40px;
    }
 
    .main {
        padding: 0px;
        width: 65%;
        margin-bottom: 75px;
    }

    .figure {
        margin-bottom: 80px;
    }

    img {
        width: 450px;
        height: 350px;   
    }

    .box-1 {
        max-width: 800px;
    }

    .box-1 img {
        width: 400px;
        height: 250px;
        border-radius: 250px;
    }

    .box-1 p {
        width: 255px;
        height: 145px;
        border-radius: 250px;
        font-size: 17px;
        padding: 30px;
        padding-top: 50px;
        margin-top: 25px;
    }

    .box-2 {
        flex-wrap: nowrap;
    }

    .box-2 img {
        width: 250px;
        height: 180px;
    }

    .button {
        font-size: 17px;
    }

    .footer {
        font-size: 16px;
    }
}